.header__lang-link {
  Width: 30px;
  Height: 28px;
  margin-top: 18px;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  }

.header__lang-link:last-child {
  margin-left: 18px;
  text-decoration: none;
}

.header__lang-link:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header__lang-link {
    margin-top: 18px;
    margin-bottom: 6px;

    }
} 

@media screen and (max-width: 320px) {
  .header__lang-link {
    Width: 22px;
    Height: 20px;
    margin-top: 14px;
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 20px;
    }
} 