.header__lang-link {
  max-width: 30px;
  margin-top: 18px;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  color: #ffff;
  text-decoration: none;
  cursor: default;
}

.header__lang-link:hover {
  opacity: 0.8;
  cursor: pointer;
}

.header__lang-link:last-child {
  margin-left: 18px;
}

@media screen and (max-width: 768px) {
  .header__lang-link {
    margin-top: 18px;
    margin-bottom: 6px;
  }
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    min-width: 22px;
    margin-top: 14px;
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 20px;
  }
}
