.place__title {
  grid-area: place__title;
  margin: 0;
  max-width: 475px;
  width: 100%;
  font-weight: 900;
  font-style: normal;
  font-size: 72px;
  line-height: 76px;
}

@media screen and (max-width: 1024px) {
  .place__title {
    max-width: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    max-width: 330px;
    width: 100%;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    max-width: 288px;
    min-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}
