.place__title {
  margin:0 40px 48px 0;
  width: 460px;
  height: 152px;
  font-weight: 900;
  font-style: normal;
  font-size: 72px;
  line-height: 76px;
  }

@media screen and (max-width: 1024px) {
  .place__title {
    margin-right: 32px;
    width: 440px;
    }
 }

  @media screen and (max-width: 768px) {
    .place__title {
      margin-right: 28px;
      width: 340px;
      height: 92px;
      font-size: 42px;
      line-height: 46px;
      }
    }
  @media screen and (max-width: 320px) {
    .place__title {
      margin-right: 16px;
      margin-left: 16px;
      width: 288px;
      height: 35px;
      font-size: 32px;
      line-height: 35px;
      order: 1;
      }
  }