.page {
  min-width: 1184px;
  max-width: 100%;
  margin: 0 auto;
  font-size: 100%;
  font-family: 'Inter', 'Arial Narrow Bold', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  background:#2A2C2F;
  color: #FFFFFF;
  
}

