.page {
  margin: 0 auto;
  width: 100%;
  
  font-size: 100%;
  font-family: 'Inter', 'Arial Narrow Bold', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  align-items: center;
  background:#2A2C2F;
  color: #FFFFFF;
  
}
