.photo-grid {
  margin: 92px auto 0;
  width: 100%;
  box-sizing: border-box;
  min-height: 671px;
  display: grid;
  grid-template-columns: 284px 284px 284px 284px;
  grid-template-rows: 213px 213px 213px;
  justify-content: center;
  gap: 16px;
  }


@media screen and (max-width: 1024px) {
  .photo-grid {
    min-height: 942px;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 225px 225px 225px 225px;
    gap: 14px;
  }
} 

@media screen and (max-width: 768px){
  .photo-grid {
    margin: 88px auto 0;
    min-height: 1664px;
    grid-template-columns: 352px 352px;
    grid-template-rows: 264px 264px 264px 264px 264px 264px;
  }
} 

@media screen and (max-width: 320px){
  .photo-grid {
    margin: 64px auto 0;
    height: auto;
    grid-template-columns: 288px;
    grid-template-rows: 216px 216px 216px 216px 216px 216px 216px 216px 216px 216px 216px 216px;
    column-gap: 12px;
  }
} 