.photo-grid {
  margin: 0;
  padding: 0;
  margin: 92px 48px 0;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 16px;
  }


@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 14px;
  }
} 

@media screen and (max-width: 768px){
  .photo-grid {
    margin: 88px 24px 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
} 

@media screen and (max-width: 320px){
  .photo-grid {
    margin: 64px 16px 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    column-gap: 12px;
  }
} 