.photo-grid {
  margin: 92px auto 0;
  width: 100%;
  height: 671px;
  display: grid;
  grid-template-columns: 284px 284px 284px 284px;
  grid-template-rows: 213px 213px 213px;
  justify-content: center;
  gap: 16px;
  }


@media screen and (max-width: 1024px) {
  .photo-grid {
    height: 942px;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 225px 225px 225px 225px;
    gap: 14px;
    justify-content: center;
  }
} 
@media screen and (max-width: 768px) {
  .photo-grid {
    margin: 88px 24px 0;
    width: 720px;
    height: 1664px;
    grid-template-columns: 352px 352px;
    grid-template-rows: 264px 264px 264px 264px 264px 264px
  
  }
} 

@media screen and (max-width: 320px) {
  .photo-grid {
    margin: 88px 16px 0;
    height: 1664px;
    grid-template-columns: 288px;
    grid-template-rows: 216px 216px 216px 216px 216px 216px 216px 216px 216px 216px 216px 216px);
    gap: 12px;

  
  }
} 