.places {
  margin: 0 auto;
  padding: 0;
  max-width: 984px;
  width: 100%;
  height: auto;
  
  }
  

  @media screen and (max-width: 1024px) {
    .places {
      width: 928px;
      height: auto;
    
    }
  }

  @media screen and (max-width: 768px) {
    .places {
      margin: 0 auto;
      height: auto;
      width: 720px;
      }
  }

  @media screen and (max-width: 320px) {
    .places {
      display: flex;
      flex-direction: column;

      width: 100%;
      height: auto;
      }
    }