.places {
  padding: 0;
  margin-top: 92px;
  width: 100%;
  max-width: 984px;
  margin-left: 148px;
  margin-right: 148px;
}

@media screen and (max-width: 1170px) {
  .places {
    max-width: 928px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media screen and (max-width: 990px) {
  .places {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 950px) {
  .places {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 880px) {
  .places {
    max-width: 750px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 730px) {
  .places {
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 650px) {
  .places {
    max-width: 560px;
  }
}

@media screen and (max-width: 590px) {
  .places {
    max-width: 480px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media screen and (max-width: 510px) {
  .places {
    max-width: 468px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 450px) {
  .places {
    max-width: 390px;
  }
}

@media screen and (max-width: 430px) {
  .places {
    max-width: 390px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    max-width: 288px;
    margin-top: 64px;
  }
}
