.places {
  margin: 92px 0 0;
  padding: 0;
  min-height: 100vh;
  display: grid;
  gap: 80px;
}
  
@media screen and (max-width: 768px) {
  .places {
    margin-top: 88px;
    gap: 97px;
  }
}
  
@media screen and (max-width: 320px) {
  .places {
    margin-top: 64px;
    gap: 12px;
  }
}