.place__image {
  margin: 0 auto 0 0;
  width: 460px;
  height: 460px;
  }

@media screen and (max-width: 1024px) {
  .place__image {
    width: 440px;
    height: 440px;
    margin-right: 32px;
    }
  }
@media screen and (max-width: 768px) {
  .place__image {
    width: 340px;
    height: 340px;
    margin-top: 48px;
    margin-right: 28px;
    }
  }
 @media screen and (max-width: 320px) {
   .place__image {
    margin-top: 32px;
    margin-right: 0;
    width: 320px;
    height: 320px;
    order: 3;
    object-fit: cover;
    }
 }