.place__paragraph {
  margin: 0 auto;
  margin-top: 48px;
  width: 484px;
  max-height: 348px;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 29.34px;
  }

.place__paragraph:last-of-type{
  margin-top: 26px;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    margin-left: 0;
    margin-right: 0;
    width: 456px;
    max-height: 377px;
    }
  }

@media screen and (max-width: 768px) {
  .place__paragraph {
    margin-left: 0;
    margin-right: 0;
    width: 352px;
    max-height: 182px;
    font-size: 16px;
    line-height: 26.08px;
    }
  } 
@media screen and (max-width: 320px) {
  .place__paragraph {
    margin: 32px 0 0;
    padding:0 16px;
    width: 288px;
    max-height: 468px;
    font-size: 16px;
    line-height: 26.08px;
    order: 4;
    }
  }
