.intro__list {
  margin: 33px auto 0;
  width: 100%;
  max-height: 90px;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  list-style: none;
  padding-left: 0;
  padding-bottom: 0;
  margin-left: 0;
  }
