.lead {
  margin: 0;
  padding: 0;
  margin: 56px auto 0;
  width: 100%;
  }

@media screen and (max-width: 1024px) {
  .lead {
    margin-top: 48px;
    }
  } 

  @media screen and (max-width: 768px) {
    .lead {
      margin-top: 48px;
      }
    } 

