.cover__subtitle {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  max-width: 360px;
  margin: 32px auto 0;
  text-align: center;
  position: relative;
}

@media screen and (max-width: 520px) {
  .cover__subtitle {
    max-width: 410px;
    font-size: 19px;
    line-height: 17px;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    min-width: 288px;
    margin: 16px auto 33px;
  }
}
