.header {
  margin: 28px 48px 0;
  display: flex;
  flex-direction: row;
  align-self: center;
  height: 52px;
  width: 100%;
  
  box-sizing: border-box;
  }

@media screen and (max-width: 768px) {
  .header {
    margin-left: 24px;
    margin-right: 24px;
    }
} 

@media screen and (max-width: 320px) {
  .header {
    min-height: 42px;
    max-width: 288px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    }
} 