.content {
  padding: 0;
  margin: 0;
  min-width: 320px;
  max-width: 1280px;
  width: 100%;
  display: block;
}

@media screen and (max-width: 1024px) {
  .content {
    max-width: 1024px;
  }
}

@media screen and (max-width: 320px) {
  .content {
    max-width: 320px;
  }
}
