.place__text {
  margin: 0;
  width: 100%;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 29.34px;
  display: grid;
}

.place__text:first-child {
  margin-bottom: 26px;
}

.place__text:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place__text {
    font-size: 18px;
    line-height: 29.34px;
  }
}

@media screen and (max-width: 950px) {
  .place__text {
    font-size: 16px;
    line-height: 26.08px;
  }
}

@media screen and (max-width: 320px) {
  .place__text {
    max-width: 288px;
  }
}
