.place__text {
  margin: 0;
  width: 100%;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 29.34px;
  display: grid;
  align-self: start
}

.place__text:first-child{
  margin-bottom: 26px;
}

.place__text:last-child{
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .place__text {
    font-size: 16px;
    line-height: 26.08px; 
  }
}

@media screen and (max-width: 320px) {
  .place__text {
    font-size: 16px;
    line-height: 26.08px;
  }
}