.lead__title {
  margin: 0 auto;
  max-width: 720px;
  font-weight: 900;
  font-style: normal;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

@media (max-width: 1279px) and (min-width: 1024px) {
  .cover__title {
    margin-top: 195px;
  }
}

@media (max-width: 1023px) and (min-width: 599px) {
  .lead__title {
    max-width: 550px;
    font-size: 65px;
    line-height: 70px;
  }
}

@media (max-width: 598px) and (min-width: 420px) {
  .lead__title {
    max-width: 420px;
    font-size: 55px;
    line-height: 50px;
  }
}

@media (max-width: 419px) and (min-width: 320px) {
  .lead__title {
    min-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}
