.lead__image {
  margin: 64px auto 0;
  width: 100%;
  height: 615px;
  background: url(../../../images/lead-polka.jpg);
  background-size: cover;
  }

  @media screen and (max-width: 1024px) {
    .lead__image {
      margin-top: 56px;
      height: 580px;
       }
    } 

    @media screen and (max-width: 768px) {
      .lead__image {
        margin-top: 56px;
        height: 480px;
         }
      } 
    
      @media screen and (max-width: 320px) {
        .lead__image {
          margin-top: 40px;
          height: 200px;
          min-width: 320px;
          object-fit: contain;
           }
        } 