.intro {
  margin: 114px auto 0 148px;
  width: 100%;
  max-width: 690px;
  height: 429px;
  }

  @media screen and (max-width: 1024px) {
    .intro {
      margin-right: 501px;
      margin-left: 48px;
      height: 429px;
       }
    } 
  
  @media screen and (max-width: 768px) {
    .intro {
      margin-top: 110px;
      margin-right: 24px;
      margin-left: 24px;
      }
    } 

  @media screen and (max-width: 320px) {
    .intro {
      margin-top: 64px;
      margin-right: 16px;
      margin-left: 16px;
      height: 754px;
      width: 288px;
      }
    } 