.intro {
  margin: 0;
  padding: 0;
  margin-top: 114px;
  margin-bottom: 0;
  margin-left: 11.56%;
  margin-right: 34.53%;
  width: 100%;
  max-width: 690px;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin-right: 27.93%;
    margin-left: 4.68%;
  }
} 
  
@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    margin-top: 110px;
    margin-right: 0;
    margin-left: 0;
  }
} 

@media screen and (max-width: 320px) {
  .intro {
    margin: 64px 16px;
    width: 288px;
  }
} 