.intro {
  margin: 0;
  padding: 0;
  margin-top: 92px;
  margin-left: 148px;
  max-width: 690px;
  width: 100%;
}

@media (max-width: 1279px) and (min-width: 1024px) {
  .intro {
    margin-left: 48px;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .intro {
    max-width: 720px;
    margin-top: 88px;
    margin-right: 24px;
    margin-left: 24px;
  }
}

@media (max-width: 767px) and (min-width: 599px) {
  .intro {
    max-width: 551px;
    margin-top: 76px;
    margin-right: 16px;
    margin-left: 16px;
  }
}

@media (max-width: 598px) and (min-width: 420px) {
  .intro {
    max-width: 388px;
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 419px) and (min-width: 320px) {
  .intro {
    max-width: 288px;
    min-width: 288px;
    margin-top: 64px;
    margin-right: 16px;
    margin-left: 16px;
  }
}
