.intro {
  margin: 0;
  padding: 0;
  margin-top: 114px;
  margin-left: 11.56%;
  margin-right: 34.53%;
  max-width: 53%;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin-left: 4.68%;
    margin-right: 27.93%;
    max-width: 67%;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 93%;
    margin-top: 110px;
    margin-right: 3.12%;
    margin-left: 3.12%;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    margin-top: 64px;
    margin-left: 5.55%;
    margin-right: 5.55%;
    min-width: 90%;
  }
}
