.lead__subtitle {
  margin: 32px auto 0;
  max-width: 640px;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

@media screen and (max-width: 684px) {
  .lead__subtitle {
    max-width: 450px;
    font-size: 25px;
    line-height: 28px;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    margin-top: 16px;
    min-width: 288px;
    font-size: 16px;
    line-height: 20px;
  }
}
