.cover {
  padding: 0;
  max-width: 1184px;
  width: 100%;
  margin: 92px auto 0;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    max-width: 768px;
    margin-top: 90px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin-top: 66px;
    max-width: 320px;
  }
}
