.place__link {
  margin-top: 0 auto;
  width: 100%;
  height: 22px;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  }

  .place__link:hover{
    opacity: 0.8;
    cursor: pointer;
  }