.lead__caption {
  margin-bottom: 0;
  margin-right: auto;
  margin-left: 11.56%;
  max-width: 160px;
  width: 100%;
  max-height: 14px;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .lead__caption {
    margin-left: 4.68%;
  }
} 
  
@media screen and (max-width: 768px) {
  .lead__caption {
    margin-left: 2px;
  }
} 

