.cover__title {
  font-weight: 900;
  font-style: normal;
  font-size: 72px;
  line-height: 76px;
  max-width: 560px;
  width: 100%;
  margin: 245px auto 0;
  text-align: center;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    margin-top: 195px;
  }
}

@media screen and (max-width: 520px) {
  .cover__title {
    font-size: 55px;
    line-height: 60px;
  }
}

@media screen and (max-width: 410px) {
  .cover__title {
    font-size: 45px;
    line-height: 50px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    min-width: 288px;
    margin: 33px auto 0;
  }
}
