.place {
  margin: 80px auto 0;
  list-style: none;
  width: 100%;
  height: 660px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  }

  @media screen and (max-width: 1024px) {
    .place {
      margin-top: 73px;
      margin-left: 48px;
      margin-right: 48px;
      height: 640px;
      width: 928px;
    }

  @media screen and (max-width: 768px) {
    .place {
      margin-top: 64px;
      height: 1016px;
      width: 720px;

      }