.place {
  margin: 0;
  padding: 0;
  min-width: 288px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "place__title place__website"
    "place__image place__paragraph";
  column-gap: 40px;
  row-gap: 48px;
}

@media screen and (max-width: 1024px) {
  .place {
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    column-gap: 28px;
  }
}

@media screen and (max-width: 598px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-areas:
      "place__title"
      "place__website"
      "place__image"
      "place__paragraph";
    row-gap: 30px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    row-gap: 32px;
  }
}
