.footer {
  margin: 92px auto 24px;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1280px;
  min-height: 18px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
    margin-top: 88px;
  }
}
    
@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
  }
}

@media screen and (max-width: 640px) {
  .footer {
    max-width: 640px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    margin-top: 64px;
    margin-right: auto;
    margin-left: 16px;
    flex-direction: column;
    max-width: 186px;
    height: 310px;
  }    
}