.place__url-heading {
  margin: 0 auto;
  margin-bottom: 12px;
  width: 100%;
  height: 12px;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #AAAAAA;
  
  }

  