.place__website {
  grid-area: place__website;
  margin: 30px 0 0 0;
  max-width: 456px;
  width: 100%;
  display: grid;
  grid-template-rows: 12px 22px ;
  grid-template-columns: auto;
  gap: 12px;
  align-content: end;
}

@media screen and (max-width: 768px) {
  .place__website {
    margin-top: 0;
    max-width: 352px;
  }
}

@media screen and (max-width: 320px) {
  .place__website {
    margin: 0 16px 0;
    max-width: 288px;
    min-width: 288px;
  }
}
